.header {
  padding-top: 1.6rem;
  padding-bottom: 4rem;
  border: 1px solid blue;
}
.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}