/* .App {
  text-align: center;
} */
.main-container {
    width: 60%;
    max-width: 60rem;
    background: #2B292E;
    margin: auto;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-radius: 1rem;
}